:root {
    --cor-principal: #202A36;
    --cor-secundaria: #0D0D0D;
    --cor-destaque: #F29966;
    --cor-fundo: white;
}

body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    background-color: #f5f5f5;
    color: #333;
}

header {
    grid-column: 1 / -1;
    background-color: var(--cor-principal);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 60px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hero {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    background-color: var(--cor-destaque);
    padding: 20px;
}

.hero-content {
    grid-column: 1 / 7;
}

.hero-image {
    grid-column: 7 / -1;
    text-align: right;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

#sobre {
    grid-column: 3 / 11;
    margin-top: 100px;
}

#sobre h2 {
    text-align: left;
}

.sobre-content {
    text-align: center;
}

.sobre-content img {
    width: 150px; /* Largura reduzida */
    height: 150px; /* Altura reduzida */
    border-radius: 50%; /* Borda arredondada para tornar a imagem circular */
    border: 5px solid #202A36; /* Borda ao redor da imagem */
}

#curiosidades {
    grid-column: 3 / 11;
    margin-top: 100px;
}

#curiosidades h2 {
    text-align: left;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.card {
    background-color: #5A7088;
    border: 2px solid #fefff9;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.card img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

footer {
    grid-column: 1 / -1;
    background-color: var(--cor-principal);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 100px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Mobile Styles */
@media (max-width: 768px) {
    body {
        grid-template-columns: repeat(4, 1fr);
    }

    header {
        position: fixed;
        bottom: 0;
        width: 90%;
        margin: 0 5%;
        border-radius: 10px;
    }

    header nav ul li a span {
        display: none;
    }

    .hero {
        grid-template-columns: repeat(4, 1fr);
    }

    .hero-content {
        grid-column: 1 / -1;
        text-align: center;
    }

    .hero-image {
        grid-column: 1 / -1;
        text-align: center;
    }

    #sobre, #curiosidades {
        grid-column: 1 / -1;
        margin-top: 100px;
    }

    #sobre h2, #curiosidades h2 {
        text-align: center;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        margin-top: 100px;
    }
}